.number-display {
	display: flex;
	flex-direction: row-reverse;
	min-height: 80px;
	background-color: #333 !important;
}

.number {
	display: flex;
	align-items: center;
	font-size: 3em;
	font-weight: bolder;
	color: white;
}
